In [8]:
#pandas practice
import pandas as pd 

#series from list or array..
sr=pd.Series([1,2,3,4,5,6,7,8])
print(sr[1:3])

sr=pd.Series([1,2,3,4,5,6,7,8],index=['h','b','c','d','e','f','g','a'])
print(sr)

pd.Series(5, index=[100, 200, 300])
print(sr)

1    2
2    3
dtype: int64
h    1
b    2
c    3
d    4
e    5
f    6
g    7
a    8
dtype: int64
h    1
b    2
c    3
d    4
e    5
f    6
g    7
a    8
dtype: int64

In [14]:
import pandas as pd 
population={'California': 38332521,'Texas': 26448193,'New York': 19651127,'Florida': 19552860,'Illinois': 12882135}

sr=pd.Series(population)
print(sr['California':'Illinois'])
print(sr.index)

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64
Index([u'California', u'Florida', u'Illinois', u'New York', u'Texas'], dtype='object')

In [20]:
import pandas as pd 

population=[38332521, 26448193,19651127,19552860,12882135]
#data frame from series 
df=pd.DataFrame(population,columns=['Population'],index=['California', 'Florida', 'Illinois','New York','Texas'])
print(df)

#dataframe from dictionry.
population={'California': 38332521,'Texas': 26448193,'New York': 19651127,'Florida': 19552860,'Illinois': 12882135}
area = {'California': 423967, 'Texas': 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}
df1=pd.DataFrame({'Population':population,'area':area})
df1

            Population
California    38332521
Florida       26448193
Illinois      19651127
New York      19552860
Texas         12882135

            Population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662